[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = ../../pybind/pybind11
	branch = stable
