# Build and doc folders dont need to add to repo
external/lemon-1.3.1/build
external/lemon-1.3.1/doc

# Outputs
thts-test
pyex
moexpr

# Hidden files
.vscode
.DS_Store
external/.DS_Store

# Python lib ignores
__pycache__
py/__pycache__

# Hidden files
.vscode
.DS_Store
external/.DS_Store

# Externals (from other branches)
external/KataGo

# External files (other branches)
external/kata1*

# Results output folders (other branches)
plots
dents_plots
results

# Outputs (other branches)
go-test
goooo
thts-run-toy-env

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

