# Folders in other branches
python

# Outputs
thts-test
thts-run-toy-env
go-test
goooo

# Kata Neural Net
external/kata1*

# Results outputs
plots
results

# Hidden files
.vscode
.DS_Store
external/.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
